/* GENERAL */
html {
    scroll-behavior: smooth;
  }

  a, a:visited {
    text-decoration: none;
    color: inherit;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* UTILITIES */
.container {
    padding: 3px;
}

.pale-green {
    background: rgb(127, 156, 156);
}

.pale-purple {
    background: rgb(218, 209, 237);
}

.pale-yellow {
    background: rgb(237, 237, 209);
}

.green {
    background: rgb(0, 128, 0);
}

.red {
    background: rgb(255, 0, 0);
}

.flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.central {
    margin: auto;
}

.text-center {
    text-align: center;
}

.show {
    opacity: 1;
}

.hidden {
    /* opacity: 0; */
}


/* HEADER */
.header {
    padding: 10px;
    color: red;
}


/* DATI-INPUT */
.dati-input {
    padding-bottom: 30px;
}

.row:first-child {
    padding: 10px;
}

.row:last-child {
    padding: 10px 0;
    justify-content: space-around;
}


.col {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.col:not(:last-child) > label {
    flex-basis: 100%;
    margin-bottom: 10px;
}

.col > input {
    flex-basis: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
}

.col:last-child > * {
    margin: 10px;
}

.col > select {
    padding: 5px;
    border:none;
    border-bottom: 1px solid #ccc;
}

.row .btn {
    margin-bottom: 10px;
    flex-basis: 100%;
    padding: 10px 15px;
    font-size: 120%;
    font-weight: 700;
    color: #fff;
}


/* BIGLIETTO */
#biglietto {
    padding: 10px 10px 40px;
}

.biglietto-header {
    margin-bottom: 30px;
}

.biglietto-header:after {
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
    content: '';
    width: 40%;
    height: 2px;
    background: black;
}

.contenuti h2 {
    font-size: 90%;
}

#nome-passeggero {
    margin-bottom: 20px;
    font-size: 250%;
}

.offerta-table {
    margin: auto;
}

.offerta th,
.offerta td {
    width: 25%;
}