/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
.container {
    padding: 10px;
}

.green {
    background: rgb(0, 128, 0);
}

.red {
    background: rgb(255, 0, 0);
}

.flex {
    display: flex;
}

.central {
    margin: auto;
}

.text-center {
    text-align: center;
}

.show {
    opacity: 1;
}

.hidden {
    /* opacity: 0; */
}


/* HEADER */




/* DATI-INPUT */

.col {
    padding: 10px 0;
    align-items: center;
}

.col > label {
    flex-basis: 40%;
}

.col > input {
    flex-basis: 60%;
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
}

.col > select {
    height: 38px;
    padding: 0 10px;
    border:none;
    border-bottom: 1px solid #ccc;
}

.row {
    padding: 10px;
    justify-content: space-around;
}

.row .btn {
    padding: 15px;
    font-size: 120%;
    font-weight: 700;
    border-radius: 10px;
}

.row #bottoneAnnulla {
    order: -1;
}

/* BIGLIETTO */
#biglietto > title 