/* GENERAL */
html {
    /* WARNING: Not working with EDGE */
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(237, 237, 209);
}

button,
button:focus {
    outline: none;
    cursor: pointer;
}



/* UTILITIES */
.container {
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.pale-yellow {
    background: rgb(237, 237, 209);
}

.green {
    background: rgb(0, 128, 0);
}

.red {
    background: #a6160a;
}

.flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.central {
    margin: auto;
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.show {
    opacity: 1;
}

.white {
    background: #fff;
}

.hidden {
    opacity: 0; 
}


/* WRAPPER */
.wrapper {
    width: 100%;
}

.wrapper > * {
    flex-basis: 100%;
}


/* HEADER */
.header {
    padding: 15px 10px;
    color: #fff;
}

.header .title {
    max-width: 320px;
}

/* DATI-INPUT */
.dati-input {
    padding-bottom: 20px;
}

.input-row {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.input-row > * {
    flex-basis: 100%;
}

.button-row {
    padding: 10px 0;
    justify-content: space-around;
}


.col {
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.col:not(:last-child) > label {
    flex-basis: 100%;
    margin-bottom: 10px;
}

.col > input {
    flex-basis: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
}

.col:last-child > * {
    margin: 10px;
}

.col > select {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.button-row .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 15px;
    font-size: 120%;
    font-weight: 700;
    color: #fff;
}


/* BIGLIETTO */
#biglietto {
    bottom: 10px;
    padding: 15px 10px 30px;
    border-top: 4px dashed #000;
}

.biglietto-header {
    margin-bottom: 30px;
}

.biglietto-header:after {
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
    content: '';
    width: 50%;
    height: 2px;
    background: black;
}

.contenuti h2 {
    font-size: 90%;
}

.nome {
    margin-bottom: 20px;
}

#nome-passeggero {
    font-size: 250%;
}

.offerta-table th,
.offerta-table td {
    width: 25%;
}



/* RESPONSIVE */
@media screen and (min-width: 576px) {
    body {
        background-image: url('../img/background.jpg');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .wrapper {
        width: 485px;
        max-width: 85%;
        padding-top: 15px;
    }

    .container {
        width: 80%;
    }

    .header {
        border-radius: 15px 15px 0 0;
    }

    .dati-input {
        border-radius: 0 0 15px 15px;
    }

    .input-row {
        padding: 15px;
    }

    .input-row > *:not(:first-child) {
        flex-basis: 45%;
        width: 100%;
    }
    
    .input-row > *:not(:first-child) label {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .input-row > *:not(:first-child) input,
    .input-row > *:not(:first-child) select {
        margin: 10px 0;
        padding: 5px 5px 5px 10px;
        width: 100%;
    }

    .button-row {
        width: 80%;
    }

    #biglietto {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 0 0 15px 15px;
    }
}


@media screen and (min-width: 1140px) and (min-height: 500px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 1000px;
        height: 100vh;
        overflow: hidden;
        background-size: cover;
    }

    .header {
        width: 450px;
        flex-basis: 80px;
        margin-right: 50px;
    }

    .dati-input {
        position: relative;
        width: 450px;
        flex-basis: 350px;
        margin-right: 50px;
    }

    .button-row .btn {
        border-radius: 10px;
    }

    .breakline {
        flex-basis: 100%;
    }

    #biglietto {
        position: static;
        flex-basis: 200px;
        width: 500px;
        border: 0;
        border-radius: 15px;
    }
}
    